In [2]:
import sqlite3

conn = sqlite3.connect("sales.db")
cursor = conn.cursor()

cursor.execute("DROP TABLE IF EXISTS sales")
cursor.execute("""
CREATE TABLE sales (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    region TEXT,
    product TEXT,
    revenue INTEGER
)
""")

data = [
    ("North", "Apples", 1200),
    ("South", "Oranges", 900),
    ("East", "Bananas", 600),
    ("West", "Mangoes", 1500),
    ("North", "Mangoes", 1100),
    ("South", "Apples", 700),
]

cursor.executemany("INSERT INTO sales (region, product, revenue) VALUES (?, ?, ?)", data)
conn.commit()
conn.close()

In [3]:
import sqlite3

conn = sqlite3.connect("sales.db")
cursor = conn.cursor()

# List all tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("Tables:", tables)

# Show columns for each table
for t in tables:
    t_name = t[0]
    cursor.execute(f"PRAGMA table_info({t_name});")
    cols = cursor.fetchall()
    print(f"\nTable: {t_name}")
    for col in cols:
        print(col[1], "-", col[2])  # col[1]=name, col[2]=type

conn.close()

Tables: [('sqlite_sequence',), ('sales',)]

Table: sqlite_sequence
name -
seq -

Table: sales
id - INTEGER
region - TEXT
product - TEXT
revenue - INTEGER